hl {
  font-size: 150%;
  border: 3px solid black;
}

.jspsych-btn {
  margin-top: 60px;
}


p {
  border: 1px solid black;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 150px;
  background-color: FloralWhite;
}
